<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Import.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="provider" value="System.Data.SqlClient"/>

    <add key="connectionString" value="Data Source=DESKTOP-RHP8J83\SQL;Initial Catalog=CDN_Firma_Demo;Integrated Security=True"/>
  </appSettings>
  <userSettings>
    <Import.Properties.Settings>
      <setting name="Katalog_z_wyciagami" serializeAs="String">
        <value>C:\Banki\</value>
      </setting>
    </Import.Properties.Settings>
  </userSettings>
</configuration>